/*@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
/* 
 * Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess
 */
 /*  */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');
}

/* NanumBarunGothic 기본 폰트 */
@font-face{
font-family: "NanumBarunGothic";
src: url('/fonts/NanumBarunGothic.eot')format('eot');
src: url('/fonts/NanumBarunGothic.woff') format('woff');
}
/* NanumBarunGothic 굵은 폰트 */
@font-face{
font-family: "NanumBarunGothicBold";
src: url('/fonts/NanumBarunGothicBold.eot')format('eot');
src: url('/fonts/NanumBarunGothicBold.woff') format('woff');
}
